*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!**/*.md
!**/*.graphql
!**/*.prisma
!*/

/apps/visualisation/storybook-static
/packages/validations/schemas
/apps/bff/src/graphql/types/
graphql-env.ts
coverage/
.next/
schema.graphql
